
/*---------------------- 
responsiv for media query  
--------------------------*/
@media only screen and (max-width:600px) {     

    /* common style  */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}
.watch{
    text-decoration: none;
    padding:10px 24px;
    background: #E02C6D;
    color: white;
}
header{
    background: #2D25A0; 
}
/* nav bar style */
.nav-links{
    display: flex;
    padding-top: 42px;
    height: 44px;
    margin: 0 123 0 156px ;
}
ul{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
    margin-left: 36px;
    padding: 10px 0;
}
li{
    display: inline;

    color: white;
}
ul li:last-child{
    margin-left: 450px;
}

/* top section style  */
.heading{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: auto;
}
.heading-title{
    width: auto;
    height: 230px;
    margin: 120px 0 240px 156px;
}
.heading-title p{
    margin-top: 0;
    text-align:left;
    color: white;
    font-weight: 700;
    font-size: 64px;
}
.banner img{
    width: auto;
    height: 438px;
    margin: 70px 140px 90px 0px;
}
.banner img:hover{
   transform: rotateY(180deg);
   transition: transform 2s;
}
.heading-title a{
    margin-top: 27px;
}
/* player photo albun style  */
.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px;
    width: auto;
    margin: 70px 180px 70px 210px;
}

.player img{
    width: auto;
}
.players{
    width: auto;
    height: 474px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

/* cop amerika match style  */
.copa-amerika{
    width: auto;
    height: 309px;
    text-align: left;
}
.copa-amerika h1{
    font-size: 48px;
    margin-top: 0;
}

.copa-banner img{
    width: auto;
    height: 427px;
    margin-left: 66px;

}
.all-hilights{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:70px 156px 70px 182px;
    background: white;
}

/* footer style */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 50px;
}
.logo img{
   width: auto;
   height: 110px;

}
.icon i{
    color: #969BAB;
    background: #E7E7E8;
    border-radius: 100%;
    margin: 14px;
    padding: 10px;
}



.suport-us{
    margin-top: 50px;
}

fieldset{
    width: auto;
    height: 200px;
    margin: auto;
}
legend{
    margin: 0 auto;
    font-size: 30px;
    padding: 10px;
    background-color: tomato;
    color: white;
}


/* next match section style   */
.next-match{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: auto; 
    margin: 0 auto ;
    background-color: lightblue;
   
}
.team img{
width: auto; 
height: 200px;
padding: 10px;
}
.match-title{
    text-align: center;
    padding: 5px;
    background-color: indianred;
    color: white;
    width: auto;
    border-radius: 0 0 10px 10px;
}
}